<%= form_for @team, builder: FormHelper::CustomFormBuilder do |f| %>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :league_id %>
    <%= f.collection_select :league_id, League.all, :id, :name %>
  </div>

  <%= render 'teams/emblem_image' %>

  <div class="form-group" id="emblem_img">
    <%= f.label :emblem, "エンブレム", class: "btn btn-primary" %>
    <%= f.file_field :emblem, style: "display: none;" %>
  </div>
  <%= f.submit class: "btn btn-success" %>
<% end %>
