  <% if message.user_id == user_id %>
    <div class="message-right message-user" data-message_user_id="<%= message.user_id %>">
      <p class="R-message-color"><%= message.content %></p>
      <%= render 'shared/create_time', object: message %>
    </div>
  <% else %>
    <div class="message-left message-user" data-message_user_id="<%= message.user_id %>">
      <p class="L-message-color"><%= message.content %></p>
      <%= render 'shared/create_time', object: message %>
    </div>
  <% end %>
