<%= form_for @league, builder: FormHelper::CustomFormBuilder do |f| %>
  <h4>リーグ</h4>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name%>
  </div>

  <div class="form-group">
    <%= f.label :classification %>
    <%= f.select :classification, League.classifications.keys
          .map {|k| [I18n.t("enums.league.classification.#{k}"), k] } %>
  </div>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
