<%= form_for @league do |f| %>
  <%= render 'leagues/form', f: f %>
  <%= f.submit "作成する" %>
<% end %>


<div style="padding-top: 50px;"></div>

<%= form_for @team do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :league_id %>
    <%= f.collection_select :league_id, League.all, :id, :name %>
  </div>

  <%= f.submit "作成する" %>
<% end %>

<div style="padding-top: 50px;"></div>

<%= form_for @player do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :height %>
    <%= f.text_field :height %>
  </div>

  <div class="form-group">
    <%= f.label :weight %>
    <%= f.text_field :weight %>
  </div>

  <div class="form-group">
    <%= f.label :age %>
    <%= f.text_field :age %>
  </div>

  <div class="form-group">
    <%= f.label :uniform_number %>
    <%= f.number_field :uniform_number %>
  </div>

  <div class="form-group">
    <%= f.label :dominant_foot %>
    <%= f.select :dominant_foot, Player.dominant_foots.keys %>
  </div>

  <div class="form-group">
    <%= f.label :position %>
    <%= f.select :position, Player.positions.keys %>
  </div>
  <%= f.submit "作成する" %>
<% end %>

<% @teams.each do |team| %>
  <%= link_to team_path(team) do %>
  <p><%= team.name %></p>
  <% end %>
  <p><%= team.league.name %></p>
<% end %>

<% @players.each do |player| %>
  <%= link_to player do %>
  <p><%= player.name %></p>
  <% end %>
<% end %>

<div class="row group-outline text-center">
  <% League.classifications.keys.each do |classification| %>
    <%= link_to classification, class: "leagues-split" do %>
      <div class="outline">
        <%= classification %>
      </div>
    <% end %>
  <% end %>

  <% @leagues.each do |league| %>
    <%= link_to league_path(league), class: "leagues-split" do %>
      <div class="outline">
        <%= league.name %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="row group-outline text-center">
  <% @teams.each do |team| %>
    <%= link_to team_path(team), class: "teams-split" do %>
      <div class="outline">
        <%= team.name %>
      </div>
    <% end %>
  <% end %>
</div>
