<div class="offset-2">
  <h2>アカウント作成</h2>
  <div class="offset-1">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), builder: FormHelper::CustomFormBuilder) do |f| %>

    <%= render 'shared/form', f: f %>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div><br>

    <div class="actions offset-6">
      <%= f.submit "アカウントを作成", class: "btn btn-primary" %>
    </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
