<div class="offset-2">
  <%= render 'users/profile_image', user: @user %>
  <div class="font-name-bg"><%= @user.name %></div>
</div><br>

<div class="row text-center">
  <% if current_page?(following_user_path) %>
    <%= link_to "フォロー中", following_user_path(@user), class: "col-4 offset-2 btn btn-primary" %>
    <%= link_to "フォロワー", followers_user_path(@user), class: "col-4 btn btn-outline-primary" %>
  <% else %>
    <%= link_to "フォロー中", following_user_path(@user), class: "col-4 offset-2 btn btn-outline-primary" %>
    <%= link_to "フォロワー", followers_user_path(@user), class: "col-4 btn btn-primary" %>
  <% end %>
</div>

<div class="jscroll">
  <% users.each do |user| %>
    <div class="jscroll">
      <div class="follow-area col-8 offset-2">
          <%= render 'users/profile_image', user: user %>
          <%= user.name %>
          <% unless user.id == current_user.id %>
            <%= render 'relationships/follow_button', user: user %>
          <% end %>
            <%= simple_format(user.introduction) %>
      </div>
    </div>
  <% end %>
  <%= link_to_next_page users, "次へ", class: "next" %>
</div>
