<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="offset-2 col-10">
  <div class="group-outline">
    <span>
      <%= link_to user_path(visitor) do %>
        <%= render 'users/profile', user: visitor %>
        <strong><%= visitor.name %></strong>
      <% end %>
      さんが
    </span>

    <% case notification.action
      when 'follow' %>
        あなたをフォローしました
      <% when 'like' %>
        <%= link_to "あなたの投稿", notification.post, style: "font-weight: bold;" %>
        にいいねしました
      <% when 'comment' %>
        <% if notification.post.user_id == visited.id %>
          <%= link_to "あなたの投稿", notification.post, style: "font-weight: bold;" %>
        <% else %>
          <span>
            <%= link_to post_path(notification.post) do %>
              <%= render 'users/profile', user: notification.post.user %>
              <%= notification.post.user.name %>さんの投稿
            <% end %>
          </span>
        <% end %>
          にコメントしました
          <div class="offset-1" style="padding-top: 10px;">
            <%= simple_format(Comment.find_by(id: notification.comment.id).comment) %>
          </div>
    <% end %>
  </div>
</div>
