<div class="offset-3">
  <%= form_for @user, builder: FormHelper::CustomFormBuilder do |f| %>
    <%= render 'profile', user: @user %>

    <div class="field", id= 'user_img'>
      <%= f.label :profile_image, "プロフィール画像を変更", class: "btn btn-primary" %>
      <%= f.file_field :profile_image, style: "display: none;" %>
    </div><br>

    <%= render 'shared/form', f: f %>

    <div class="field">
      <%= f.label :introduction %>
      <%= f.text_area :introduction, class: "form-control" %>
    </div><br>

    <div class="actions">
      <%= f.submit "更新する", class: "btn btn-outline-primary" %>
    </div>
  <% end %>
</div>
