<div class="row">
  <div class="col-4">
    <%= render 'profile', user: @user %>
    <div style="display: inline-block;">
      <% if @user == current_user %>
        <%= link_to '編集する', edit_user_path(@user), class: "btn btn-sm btn-outline-primary" %>
      <% else %>
        <%= render 'relationships/follow_button', user: @user %>
      <% end %>
    </div>
    <div class="font-name-bg">
      <%= @user.name %>
      <%= render 'rooms/room' %>
    </div>
    <%= simple_format(@user.introduction) %>
    <div id="follow_count_<%= @user.id %>">
      <%= render 'relationships/follow_count' %>
    </div>
    <%= link_to "お気に入り", likes_user_path(@user), class:"btn btn-sm btn-outline-danger col-lg-6 col-9"%>
  </div>
  <div class="col-8">
    <%= render 'posts/posts', posts: @posts %>
  </div>
</div>
