<div class="row">
  <section class="offset-1 col-9">
    <h2>KICK OFFについて</h2>
    <p>このアプリは、サッカーの情報を共有したり、サッカー観戦しながら会話をするのを目的としたSNSアプリです。<br>
      サッカーについての情報も公開しているので、好きなチームや選手についてみんなで会話をすることができます！
    </p>

    <h3 style="padding: 20px 0;">このアプリでできること</h3>

    <h4>投稿機能</h4>
    <p>このフォームから投稿することができるようになっていて、<br>
      投稿したものは他の人に公開されるようになっています。
    </p>
    <%= image_tag 'new_post.png', style: "width: 100%;" %>

    <h4 style="padding-top: 50px;">いいね機能</h4>
    <p>投稿にいいねをつけることができます。</p>
    <%= image_tag 'before_like.png', style: "width: 100%;" %>
    <%= image_tag 'after_like.png' %>
    <p>いいねをつけた投稿はマイページから見ることができます。</p>

    <h4 style="padding-top: 50px;">シェア機能</h4>
    <p>投稿をシェアすることができます</p>
    <%= image_tag 'before_share.png', style: "width: 100%;" %>
    <%= image_tag 'after_share.png' %>

    <h4 style="padding-top: 50px;">フォロー機能</h4>
    <p>他のユーザーをフォローすることができます。</p>
    <%= image_tag 'other_user.png', style: "width: 40%;" %>
    <%= image_tag 'after_follow.png', style: "width: 40%;" %>
    <p>フォローしたユーザーはマイページから見ることができます。</p>

    <h4 style="padding-top: 50px;">コメント機能</h4>
    <p>投稿にコメントすることができます。</p>
    <%= image_tag 'before_comment.png', style: "width: 100%;" %>
    <p>コメントをすると下のように表示されます。</p>
    <%= image_tag 'after_comment.png', style: "width: 100%;" %>

    <h4 style="padding-top: 50px;">サッカー関連の機能</h4>
    <%= image_tag 'football.png', style: "width: 100%;" %>
    <p>このリンクからチームと選手の一覧にいくことができます。<br>
      チームページではそのチームや所属選手についてのコメントをすることができます
    </p>
  </section>

</div>
