<% players.each do |player| %>
  <%= link_to player_path(player) do %>
    <div class="outline">
      <div class="row offset-1">
        <%= player.uniform_number %>番

        <div class="col-5">
          <%= player.name %>
        </div>

        <div class="col-2">
          <%= player.age %>歳
        </div>

        <div class="col-2">
          <%= player.height %>cm
        </div>

        <div class="col-2">
          <%= player.weight %>kg
        </div>
      </div>
    </div>
  <% end %>
<% end %>
