<div class="row">
  <div class="offset-2 col-5">
    <%= form_for @player, builder: FormHelper::CustomFormBuilder do |f| %>
      <%= render 'players/form', f: f %>
    <% end %>
  </div>

  <div class="col-5">
    <%= form_for [@player, @belong] do |f| %>
      <div class="form-group">
        <%= f.label :team_name %>
        <%= f.collection_select :team_id, Team.all, :id, :name %>
      </div>
      <%= f.submit class: "btn btn-success" %>
    <% end %>

    <%= render 'belongs/teams' %>
  </div>
</div>
