<h1><%= @room.name %></h1>

<h4>参加者</h4>
<% @entries.each do |e| %>
  <%= link_to e.user.name, user_path(e.user_id) %>
<% end %><%= current_user.name %> <%# 消す %>

<h1>Chat room</h1>
<form>
  <label>Say something:</label><br>
  <input type="text" data-behavior="room_speaker">
</form>

<div id="messages" data-room_id="<%= @room.id %>">
  <%= render @messages %>
</div>
