<%= form_for @post, builder: FormHelper::CustomFormBuilder do |f| %>
<div class="field">
  <%= f.text_area :content, cols: 27, rows: 6 %>
</div>

<% if @post.image? %>
  <%= image_tag @post.image.url, class: "prev-size", id: "img_prev" %>
<% else %>
  <%= image_tag "no_post_image.png", class: "prev-size", id: "img_prev" %>
<% end %>

<div class="field" id="post_img">
  <%= f.label :image, "画像をアップロード", class: "btn btn-primary" %>
  <%= f.file_field :image, style: "display: none;" %>
</div>

<div class="actions">
  <%= f.submit "投稿する", class: "btn btn-outline-primary" %>
</div>
<% end %>
