<div class="row">
  <div class="post-area col-9 offset-2">
    <%= render 'users/profile', user: @post.user %>
    <%= link_to "削除する", post_path(@post), method: :delete %>
    <div class="offset-lg-1">
      <%= @post.content %><br>
      <% if @post.image? %>
        <%= image_tag @post.image.url, class: "image-size" %>
      <% end %>
    </div>
    <div id="likes_<%= @post.id %>">
      <%= render 'likes/like', post: @post %>
    </div>
  </div>
</div>
