<div class="row">
  <div class="col-3">
    <% if user_signed_in? %>
      <%= render 'users/profile_image', user: current_user %>
      <div class="font-name-bg">
        <%= current_user.name %>
      </div>
      <%= render "comments/form" %>

    <% else %>
      <%= link_to "アカウント作成", new_user_registration_path, class: "btn btn-outline-primary" %><br>
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-primary" %>
    <% end %>
  </div>

  <div class="col-9" id="post">
    <div class="post-area">
      <div class="row col-12">
        <%= render 'users/profile_image', user: @post.user %>
        <ul id="sharing_<%= @post.id %>">
          <%= render 'shares/sharing', post: @post %>
        </ul>
      </div>

      <div class="offset-2">
        <%= simple_format(@post.content) %>
        <% if @post.image? %>
          <%= image_tag @post.image.url, class: "image-size" %>
        <% end %>
      </div>

      <div class="row">
        <div class="offset-1">
          <%= render 'comments/count', post: @post %>
        </div>
        <div id="likes_<%= @post.id %>" class="offset-1">
          <%= render 'likes/like', post: @post %>
        </div>
        <div id="shares_<%= @post.id %>" class="offset-1">
          <%= render 'shares/share', post: @post %>
        </div>
        <%= render 'posts/delete_post', post: @post %>
      </div>
    </div>

      <p style="padding-top: 20px;">コメント</p>
      <div class="jscroll">
        <%= render @comments %>
        <%= link_to_next_page @comments, "次へ", class: "next" %>
      </div>
  </div>
</div>
