<div class="row">
  <div class="col-4">
    <% if user_signed_in? %>
      <%= render 'users/profile', user: current_user %>
      <div class="font-name-bg">
        <%= current_user.name %>
      </div>
      <%= render "comments/form" %>
    <% end %>
  </div>
  <div class="col-8" id="post">
    <div class="post-area">
      <div class="row col-12">
        <%= render 'users/profile', user: @post.user %>
        <ul id="sharing_<%= @post.id %>">
          <%= render 'shares/sharing', post: @post %>
        </ul>
      </div>
      <div class="offset-md-2">
        <%= simple_format(@post.content) %>
        <% if @post.image? %>
          <%= image_tag @post.image.url, class: "image-size" %>
        <% end %>
      </div>
      <div class="row">
        <div id="likes_<%= @post.id %>" class="offset-1">
          <%= render 'likes/like', post: @post %>
        </div>
        <div id="shares_<%= @post.id %>" class="offset-1">
          <%= render 'shares/share', post: @post %>
        </div>
        <%= render 'delete_post', post: @post %>
      </div>
    </div>
    <div id="comments_area">
      <%= render 'comments/index', comments: @comments %>
    </div>
  </div>
</div>
