<div class="row">
  <div class="col-3">
    <% if user_signed_in? %>
      <%= render 'users/profile', user: current_user %>
      <div class="font-name-bg">
        <%= current_user.name %>
      </div>
      <%= render "comments/form" %>
    <% end %>
  </div>
  <div class="col-9" id="post">
    <div class="post-area">
      <%= render 'users/profile', user: @post.user %>
      <%= @post.user.name %>
      <div class="offset-lg-1">
        <%= @post.content %><br>
        <% if @post.image? %>
          <%= image_tag @post.image.url, class: "image-size" %>
        <% end %>
      </div>
      <div class="row">
        <div id="likes_<%= @post.id %>" class="offset-1">
          <%= render 'likes/like', post: @post %>
        </div>
        <%= render 'delete_post', post: @post %>
      </div>
    </div>
    <div id="comments_area">
      <%= render 'comments/index', comments: @comments %>
    </div>
  </div>
</div>
