<header>
  <nav class="navbar navbar-expand navbar-dark bg-primary fixed-top">
    <div class="container">
      <%= link_to root_path do %>
        <%= image_tag('title_logo.png', width: 80, class: "logo") %>
      <% end %>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to leagues_path do %>
              <i class="far fa-futbol"> フットボール</i>
            <% end %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to notifications_path do %>
                <i class="far fa-bell"> 通知</i>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to rooms_path do %>
                <i class="far fa-envelope"> メッセージ</i>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to current_user do %>
                <i class="far fa-user"> プロフィール</i>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </li>

          <% else %>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path %>
            </li>
          <% end %>
        </ul>
    </div>
  </nav>
</header>
