<header>
  <nav class="navbar navbar-expand navbar-dark bg-primary fixed-top">
    <div class="container">
      <%= link_to root_path do %>
        <%= image_tag('title_logo.png', width: 80, class: "logo") %>
      <% end %>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to leagues_path do %>
              <i class="far fa-futbol"> フットボール</i>
            <% end %>
          </li>
          <% if user_signed_in? %>
            <%= render 'layouts/signed_nav' %>
          <% else %>
            <%= render 'layouts/unsigned_nav' %>
          <% end %>
        </ul>
    </div>
  </nav>
</header>
