<li class="nav-item">
  <%= link_to notifications_path do %>
    <% if unchecked_notifications.any? %>
      <i class="far fa-bell"> 通知</i>
      <i class="fas fa-circle n-circle"></i>

    <% else %>
      <i class="far fa-bell"> 通知</i>
    <% end %>
  <% end %>
</li>

<li class="nav-item">
  <%= link_to rooms_path do %>
    <% if unchecked_messages.any? %>
      <i class="far fa-envelope"> メッセージ</i>
      <i class="fas fa-circle m-circle"></i>
    <% else %>
      <i class="far fa-envelope"> メッセージ</i>
    <% end %>
  <% end %>
</li>

<li class="dropdown nav-item">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <i class="far fa-user"> アカウント</i></a>
  <ul class="dropdown-menu text-center" style="background-color: #007bff;">
    <li><%= link_to "マイページ", current_user %></li>
    <li class="drop-item"><%= link_to "ユーザーを探す", users_path %></li>
    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
  </ul>
</li>
