<!DOCTYPE html>
<html>

<head>
  <title>KICK OFF</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render 'layouts/header' %>

  <div class="container">
    <% flash.each do |message_type, message| %>
      <p class="alert alert-<%= message_type %>">
        <%= message %>
      </p>
    <% end %>
    <%= yield %>
      <div id="back-to-top">
        <a href="#"><i class="fas fa-arrow-alt-circle-up fa-4x"></i></a>
      </div>
  </div>

</body>

</html>
